In [1]:
import numpy as np
import pandas as pd
import lxml.etree as etree
import sqlite3 as sql
from preprocess import DB
from tqdm.notebook import tqdm
import matplotlib.pyplot as plt

In [3]:
db = DB(db_route = '../data/database.sqlite')

In [8]:
df = db.combineCardFoulDF()

  0%|          | 0/14217 [00:00<?, ?it/s]

In [10]:
df.to_csv('../data/card_foul.csv')

In [14]:
df2 = pd.merge(df, db.match_team, how = 'left', left_on = 'match_id', right_on = 'match_api_id').drop(['foulcommit', 'card', 'corner'], axis = 1)

In [21]:
df2[df2['match_id'] == 489042]

,elapsed_foul,event_incident_typefk_foul,foul_id,injury_time,player1_id_foul,player2_id_foul,subtype,team,type,match_id,...,player1_id_card,card_subtype,team_card,card_type,match_api_id,date,home_team_api_id,home_team_name,away_team_api_id,away_team_name
0,0,0,0,0,0,0,NaN,0,NaN,489042,...,NaN,NaN,NaN,NaN,489042,2008-08-17 00:00:00,10260,Manchester United,10261,Newcastle United
1,1,37,378824,0,25518,32569,0,10261,foulcommit,489042,...,NaN,NaN,NaN,NaN,489042,2008-08-17 00:00:00,10260,Manchester United,10261,Newcastle United
2,2,37,378826,0,30929,24157,0,10261,foulcommit,489042,...,NaN,NaN,NaN,NaN,489042,2008-08-17 00:00:00,10260,Manchester United,10261,Newcastle United
3,3,37,378830,0,29581,24148,0,10261,foulcommit,489042,...,NaN,NaN,NaN,NaN,489042,2008-08-17 00:00:00,10260,Manchester United,10261,Newcastle United
4,4,0,0,0,0,0,NaN,0,NaN,489042,...,NaN,NaN,NaN,NaN,489042,2008-08-17 00:00:00,10260,Manchester United,10261,Newcastle United
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,115,0,0,0,0,0,NaN,0,NaN,489042,...,NaN,NaN,NaN,NaN,489042,2008-08-17 00:00:00,10260,Manchester United,10261,Newcastle United
117,116,0,0,0,0,0,NaN,0,NaN,489042,...,NaN,NaN,NaN,NaN,489042,2008-08-17 00:00:00,10260,Manchester United,10261,Newcastle United
118,117,0,0,0,0,0,NaN,0,NaN,489042,...,NaN,NaN,NaN,NaN,489042,2008-08-17 00:00:00,10260,Manchester United,10261,Newcastle United
119,118,0,0,0,0,0,NaN,0,NaN,489042,...,NaN,NaN,NaN,NaN,489042,2008-08-17 00:00:00,10260,Manchester United,10261,Newcastle United
120,119,0,0,0,0,0,NaN,0,NaN,489042,...,NaN,NaN,NaN,NaN,489042,2008-08-17 00:00:00,10260,Manchester United,10261,Newcastle United

In [25]:
list(df2.columns)

['elapsed_foul',
 'event_incident_typefk_foul',
 'foul_id',
 'injury_time',
 'player1_id_foul',
 'player2_id_foul',
 'subtype',
 'team',
 'type',
 'match_id',
 'player1_name_foul',
 'player2_name_foul',
 'card_color',
 'elapsed_card',
 'event_incident_typefk_card',
 'goal_type',
 'card_id',
 'player1_id_card',
 'card_subtype',
 'team_card',
 'card_type',
 'match_api_id',
 'date',
 'home_team_api_id',
 'home_team_name',
 'away_team_api_id',
 'away_team_name']

In [31]:
count, freq = np.unique(db.match['goal'].dropna(), return_counts = True)

In [36]:
count, freq = np.unique(db.match['possession'].dropna(), return_counts = True)

In [48]:
pd.read_xml(count[1]).dropna(subset = ['homepos', 'awaypos']).drop(['id', 'del', 'n', 'sortorder', 'subtype', 'comment', 'event_incident_typefk', 'type'], axis = 1)

   elapsed  awaypos  homepos
0       21     42.0     58.0
1       42     41.0     59.0
2       65     42.0     58.0
3       85     46.0     54.0

In [70]:
db.unravelCardDF(0).drop(['event_incident_typefk_card', 'card_type', 'goal_type'],axis =1)

,match_id,card_color,elapsed_card,card_id,player1_id_card,card_subtype,team_card
0,489042,y,78,379481,24157,serious_fouls,10260
1,489042,y,82,379503,30362,serious_fouls,10260
2,489042,y,90,379547,30829,0,10260

In [69]:
for x in df2['goal_type'].dropna():
    if x != 0:
        print(x)

p