In [1]:
import numpy as np
import pandas as pd
import lxml.etree as etree
import sqlite3 as sql
from process import DB
from tqdm.notebook import tqdm
import matplotlib.pyplot as plt

In [34]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_recall_fscore_support

In [24]:
data = pd.read_csv('../data/prem_data_elo.csv', index_col = 'Unnamed: 0')
data.head()

,match_api_id,league_id,date,home_team_api_id_x,home_team_name,away_team_api_id_x,away_team_name,home_team_goal,away_team_goal,home_team_foul_reason_from_behind,...,away_team_card_reason_diving,home_team_card_reason_hands,away_team_card_reason_hands,home_team_card_reason_Removing Shirt,away_team_card_reason_Removing Shirt,result,home_team_api_id_y,away_team_api_id_y,home_elo,away_elo
0,489044,1729,2008-08-16 00:00:00,8472,Sunderland,8650,Liverpool,0,2,2.0,...,0.0,0.0,0.0,0.0,0.0,L,8472,8650,1600.0,1600.0
1,489045,1729,2008-08-16 00:00:00,8654,West Ham United,8528,Wigan Athletic,2,4,0.0,...,0.0,0.0,0.0,0.0,0.0,L,8654,8528,1600.0,1600.0
2,489047,1729,2008-08-16 00:00:00,8668,Everton,8655,Blackburn Rovers,2,12,2.0,...,0.0,0.0,0.0,0.0,0.0,L,8668,8655,1600.0,1600.0
3,489048,1729,2008-08-16 00:00:00,8549,Middlesbrough,8586,Tottenham Hotspur,2,4,0.0,...,0.0,0.0,0.0,0.0,0.0,L,8549,8586,1600.0,1600.0
4,489049,1729,2008-08-16 00:00:00,8559,Bolton Wanderers,10194,Stoke City,3,4,2.0,...,0.0,0.0,0.0,0.0,0.0,L,8559,10194,1600.0,1600.0

## Running Multinomial Logit on Nominal Classes w/ Elo Score

In [29]:
X = data[data.columns[7:]].drop(
    ['result', 'home_team_api_id_y', 'away_team_api_id_y', 'away_team_goal', 'home_team_goal'],
axis = 1)
y = data['result']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [31]:
params = {
    'multi_class' : 'multinomial'
}
clf = LogisticRegression(**params).fit(X_train, y_train)

print(metric_suite(clf, X_train, y_train))
print(metric_suite(clf, X_test, y_test))

0.6483899042645779
0.6504347826086957

/Users/kayacelebi/Library/Python/3.8/lib/python/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

## Running Multinomial Logit on Nominal Classes w/o Elo Score

In [32]:
X = data[data.columns[7:]].drop(
    ['away_team_goal', 'home_team_goal',
     'result', 'home_team_api_id_y',
     'away_team_api_id_y', 'home_elo', 'away_elo'],
axis = 1)
y = data['result']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [33]:
params = {
    'multi_class' : 'multinomial'
}
clf = LogisticRegression(**params).fit(X_train, y_train)

print(accuracy(clf, X_train, y_train))
print(accuracy(clf, X_test, y_test))

0.6318537859007833
0.6260869565217392

/Users/kayacelebi/Library/Python/3.8/lib/python/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(